* {
    font-family: sans-serif;
}

.contenedor {
    width: 900px;
    margin: auto;
}

.cabecera {
    background: linear-gradient(to right, #005c97, #363795);
    color: white;
    font-size: 3em;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    border-radius: 20px;
}
.tabla {
    padding: 10px;
}
.tabla table {
    width: 90%;
    margin: auto;
}
.tabla table, .tabla td {
    border: 1px solid black;
    border-collapse: collapse;
}
.tabla th {
    background-color: steelblue;
    color: white;
    font-weight: bolder;
}
.contenido form {
    margin-top: 10px;
}

.contenido form label {
    width: 130px;
    float: left;
}